__dummy.html
__test__library__
__test__unittest__
*.o
*.obj
*.a
*.lst
*.so
.dub
dub.selections.json
docs.json
docs
build

.generated
web
plots
flex-plot

__test__d_source_library__

*.sublime-project

__test__source__

*.s

*.out

flex_plot_test_*
trace.*
*.DS_Store

examples/median_filter

examples/means_of_columns

benchmarks/glas/gemm_bench

benchmarks/glas/symm_bench

checkwhitespace.d

*.ll

benchmarks/glas/gemm_report

*.dylib
